@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Annabel";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/annabel.ttf);
}

@font-face {
  font-family: "Hollirood";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/hollirood.ttf);
}
@font-face {
  font-family: "Retrolight";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../../public/fonts/Retrolight 400.otf);
}

body {
  background-color: #151515;
  color: white;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #c9a747;
}

::-webkit-scrollbar-thumb:hover {
  background: #c9a747;
}

input[type="radio"] {
  accent-color: #c9a747;
}
body {
  scroll-behavior: smooth;
}
