@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Annabel";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/annabel.ttf);
}

@font-face {
  font-family: "Hollirood";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../public/fonts/hollirood.ttf);
}
@font-face {
  font-family: "Retrolight";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../../public/fonts/Retrolight 400.otf);
}

body {
  background-color: #151515;
  color: white;
  scroll-behavior: smooth;
  cursor: url(../../public/cursor.png), auto;
}
.cursor-pointer {
  cursor: url(../../public/cursor-pointer.png), pointer;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #c9a747;
}

::-webkit-scrollbar-thumb:hover {
  background: #c9a747;
}

input[type="radio"] {
  accent-color: #c9a747;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #2d3493;
}

::-webkit-scrollbar-thumb:hover {
  background: #f8714b;
}

.avatar {
  animation: zoom-in-zoom-out 4s ease-out infinite;
}
